<h1>Cyber sec quiz</h1>

<%= @question.text %>
<br><br>


<% @question.answers.each do |ans| %>
	<%= form_with(model: @question, local: true, url: static_pages_correct_path(ans)) do |form| %>
		
			<div class="actions">
				<%= form.submit ans.answertext %>
			</div><br>
	<% end %>
<% end %>



<br>
<%= link_to 'Home', static_pages_home_path %>