<% provide(:title, 'Quiz') %>
<div class="center jumbotron">
	<p><%= "You answered correctly, you wonderful genius!" %></p><br>
	<%= link_to "Next question", random_quizzes_path,  class: "btn btn-lg btn-primary" %>
</div>
