<h1>Welcome to the help page</h1>
<p>Click on an answer to submit it. If you are correct, it will turn green, and you can move on to the next question.</p>
<p>If you are wrong, it will turn red and you must try again!</p>
<%= link_to 'Back to the home page', static_pages_home_path %>
