<h1>Welcome to the help page</h1>
<p>Click on an answer to submit it. If you are correct, you will be told this, and you can move on to the next question.</p>
<p>If you are wrong, you must try again!</p>

