

<% provide(:title, 'Home') %>
<div class="center jumbotron">
	<h1>Welcome to the Immersive Labs Cyber Dictionary Quiz</h1>
	<p>Answer the questions to learn all the terms you will need to survive in the cyber industry.</p>
	<%= link_to 'Click here to start quizzing!', quizzes_show_path, class: "btn btn-lg btn-primary" %>
	<br><br>
	<%= link_to 'Sign-up now!', signup_path, class: "btn btn-lg btn-primary" %>
	<h2> Please report any bugs to the interns, we'll be in our corner. </h2>
</div>
