<footer class="footer">
	<small>
		This quiz was written by InternZero and Jiu-Jitsu
	</small>
	<nav>
		<ul>
			<li><a href="https://main.immersivelabs.online/">Immersive Labs</a></li>
		</ul>
	</nav>
</footer>
